<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<form action="noticias/salvar" method="post">
			<label for="titulo">Titulo: </label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo da notícia"/>
			<br>
			<label for="noticia">Notícia</label>
			<textarea rows="5" cols="30" id="noticia" name="noticia"></textarea>
			<br>
			<input type="submit" value="Enviar" />
		</form>
	</body>
</html>